@import '../../../../styleguide/shared';

:host ::ng-deep .ui-chkbox-label {
  top: 0;
  left: auto;
}

:host ::ng-deep p-calendar.ui-inputwrapper-filled ~ label {
  top: -10px;
  font-size: 12px;
  color: $color-primary;
  font-weight: bold;
}

:host ::ng-deep .ui-corner-all {
  border-radius: 0;
}

:host ::ng-deep p-calendar a.ui-state-active {
  background: #0075ff !important;
}

:host
  ::ng-deep
  p-calendar
  .ui-datepicker
  .ui-datepicker-header
  .ui-datepicker-title
  select {
  border-radius: 3px;
}

.ui-inputtext.ng-dirty.ng-invalid,
p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext,
p-chips.ng-dirty.ng-invalid > .ui-inputtext,
p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
p-listbox.ng-dirty.ng-invalid .ui-inputtext,
p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
p-selectbutton.ng-dirty.ng-invalid .ui-button,
p-togglebutton.ng-dirty.ng-invalid .ui-button {
  border: none;
  border-bottom: 1px solid #a80000;
}

i.fa-calendar-alt {
  position: absolute;
  top: 15px;
  left: 94%;
  color:#888;
  cursor: pointer;
}

p-calendar.ng-dirty ~ i.fa-calendar-alt {
  color:#0075ff;
}
