:host {
  ion-label {
    color: #666;

    i {
      width: 20px;
    }
  }

  .list-md {
    margin: 0;
  }

  .popover-content sc-ion-popover-md {
    padding-top: 10px;
    width: 215px;
  }

  .list-md {
    margin: 6px;
  }

  .list-ios {
    margin: 6px;
  }
}
