@mixin font($variant: base, $color: false) {
  $variants: map-get($font-variants, $variant);
}

@mixin link-variant($color) {
  color: $color;
  cursor: pointer;

  &::before {
    color: $color;
  }

  &::after {
    background: $color;
  }

  &:focus, &:hover {
    color: rgba($color, .7);
    text-decoration: none;
  }

}

@mixin error-hint {
  color: $color-error;
  font-size: 12px;
}

@mixin card-header-title {
  font-size: 18px;
  border-bottom: thin #eee solid;
  padding-bottom: 8px;
  color: $color-standard;
}