


// background colors
$bg-primary: #0099ff;
$bg-yellow: #FFC91A;
$bg-red: #FF6060;
$bg-green: #34A835;
$bg-light-blue: #C0D8F7;
$bg-light-yellow: #FFEEB9;
$bg-black: #444;
$bg-light-black: #656565;
$bg-gray: #DEDEDE;
$bg-light-gray: #F3F3F3;
$bg-white-gray: #f1f1f1;
$bg-white: #fff;
$bg-info: #00C2FF;
$bg-warning: #f7b021;
$bg-secondary: #FF9A66;
$bg-danger: #FF6262;

//font colors
$color-white: #fff;
$color-primary: #0099ff;
$color-standard: #444;
$color-success: #36eb7b;
$color-gray: #666;
$color-light-gray: #999;
$color-lighter-gray: #CCC;
$color-gray-clear: #F3F3F3;
$color-error: #FF4141; 
$color-warning: #f7b021;
$color-blue: #337FE6;
$color-green: #34A835;
$color-red: #FF6060; 
$color-info: #00C2FF;
$color-secondary: #FF9A66;
$color-danger: #FF6262;
$color-black: #444;
$color-info: #00C2FF;
$color-secondary: #FF9A66;
$color-danger: #FF6262;
$color-black: #333;
$color-light-blue: #a9d3ef;

$font-family-base: "Poppins", sans-serif;
$font-size-base: '14px';
$font-weight-base: normal;
$font-base-color: $color-standard;

$font-bold: 700;
$border-color-standard: #E6E6E6;


$box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);
$box-shadow-2: 3px 2px 8px rgba(0, 0, 0, 0.2);
$gradient-blue: linear-gradient(45deg, #0099ff, #20defc);
$border-line-color: #ddd;
$text-shadow: 0.5px 0.5px 0.5px $color-light-gray;

