ion-title {
  padding: 0 20px;
  
  h1, h3 {
    color: #ffffff;
  }
}

.forgot-password-text {
  color: #444;
  font-weight: bold;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 0;
}

.lpa_image-forgot-password-success {
  width: 147px;
  height: 138px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-image: url("/assets/images/ari_forgot_password_success.png");
  margin-top: 20px;
}