<ion-header>
    <ion-toolbar color="blue" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <h3 *ngIf="!success">Forgot Password?</h3>
        <h1 *ngIf="success">Congratulations!</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="">
      <div *ngIf="success" class="lpa_image-forgot-password-success"></div>
      <p class="forgot-password-text" *ngIf="success" >An email is on its way for you to reset your password.</p>
    </div>
    <div *ngIf="!success">
      <form novalidate [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" >
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <div class="ari-logo"></div>
              <p class="forgot-password-text" *ngIf="!success" >Enter your valid account email to receive a link allowing you to reset your password.</p>
              
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-list>
                <ion-item>
                  <ion-label position="floating" color="primary">Email</ion-label>
                  <ion-input #fpEmail name="email" formControlName="email" type="text" spellcheck="false" autocapitalize="off" (keyup)="onChange(fpEmail)" (keypress)="validateEmailLength($event)"  required>
                  </ion-input>
                  <i *ngIf="hasInputValue" (click)="onClear(fpEmail)" class="fas fa-times lpa_icon-clear-email"></i>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="!forgotPasswordForm.valid || isSubmitting" expand="block" class="lpa_button-native">
                <i *ngIf="isSubmitting" class="fas fa-spinner fa-pulse"></i>  SEND REQUEST</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>

    <ion-row>
        <ion-col>
          <p class="login-text"><a href="javascript:void(0)" routerLink="/login">Back to login</a></p>
        </ion-col>
      </ion-row>
  </ion-content>